<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">
      <img src="assets/sun.png" width="50" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <form class="form-inline ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchText">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSubmit()">Search</button>
        <div class="spinner-border ml-2" role="status" *ngIf="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </form>

    <div class="my-2 my-lg-0 ml-3">
      <button class="btn btn-warning" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
