  <div class="card mb-4" *ngFor="let day of response?.daily?.data;let i=index">
    <div class="card-header d-flex justify-content-between"> 
      <h5 style="display:inline" > {{days[(dayIndex+i)%7]}}</h5>
      <button class="btn" (click)="toggleChart(i)" *ngIf="i===0"><img src="assets/plus.png"  width="20" height="20" alt="" ></button>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <app-chart *ngIf="chart[i]" [chartData]="response.hourly"></app-chart>
      <p class="card-text"> {{day?.summary}}</p>
      <p class="card-text">
        <span class="font-weight-bold">Temperature:</span> {{day?.temperatureMin}} F
        <span class="font-weight-bold ml-3">Humidity:</span> {{day?.humidity}} 
        <span class="font-weight-bold ml-3">WindSpeed:</span> {{day?.windSpeed}} 
      </p>
    </div>
  </div>

