<table class="table table-striped" *ngIf="issue">
    <thead>
      <tr>
        <th scope="col">Project Name </th>
        <th scope="col">IssueID</th>
        <th scope="col">Summary</th>
        <th scope="col">Status</th>
        <th scope="col">Status Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Issue Type</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let issue of response?.issues">
          <td >{{issue?.fields?.project?.name}}</td>

          <td >{{issue?.id}}</td>
    
          <td>{{issue?.fields?.parent?.fields?.summary}}</td>
          
          <td>{{issue?.fields?.parent?.fields?.status?.name}}</td>
          
          <td>{{issue?.fields?.parent?.fields?.status?.statusCategory?.name}}</td>
          
          <td>{{issue?.fields?.parent?.fields?.priority?.name}}</td>
          
          <td>{{issue?.fields?.issuetype?.description}}</td>
          
      </tr>
    </tbody>
</table>
