<div class="container bg-light" >
  <form [formGroup]="form" (ngSubmit)="logIn()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="name" type="email" class="form-control" name="email" placeholder="Enter email" >
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        <div *ngIf="name.errors.required">UserName is required.</div>
        <div *ngIf="name.errors.minlength">UserName should contain at least 5 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password"  >
      <div class="alert alert-danger" *ngIf="password.touched && name.invalid">
        <div *ngIf="password.errors.required">Password is required.</div>
        <div *ngIf="password.errors.minlength">Password should contain at least 10 characters</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" >Login</button>
    
  </form>
  
  <button type="submit" class="btn btn-success mt-3" (click)="register()">Register</button>
  <div class="alert alert-danger mt-3" *ngIf="invalidCredentials">Invalid Credentials</div>
</div>